{% load static %}
{% load base_tags %}

{% partialdef styles %}
    <link rel="stylesheet" href="{% static "assets/css/output.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/swiper-bundle.min.css" %}">
{% endpartialdef styles %}


{% partialdef scripts %}
    <script src="{% static "node_modules/gsap/dist/gsap.min.js" %}"></script>
    <script src="{% static "node_modules/gsap/dist/ScrollTrigger.min.js" %}"></script>
    <script src="{% static "node_modules/gsap/dist/ScrollToPlugin.min.js" %}"></script>

    <script src="{% static "node_modules/lenis/dist/lenis.min.js" %}"></script>
    <script src="{% static "assets/js/gsap.js" %}"></script>

    <script src="{% static "assets/js/alpine.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="{% static "assets/js/swiper-bundle.min.js" %}"></script>
{% endpartialdef scripts %}


<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% partial styles %}
    {% block header_custom_references %}{% endblock header_custom_references %}
</head>

<body {% block body_attrs %}{% endblock body_attrs %}>
    <!-- ===== DECORATIVE BG BLOBS ===== -->
    <div class="fixed inset-0 pointer-events-none overflow-hidden z-0">
        <div class="absolute top-[-10%] right-[-5%] w-[500px] h-[500px] bg-indigo-100/60 rounded-full blur-3xl"></div>
        <div class="absolute bottom-[-10%] left-[-5%] w-[400px] h-[400px] bg-purple-100/50 rounded-full blur-3xl"></div>
        <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[300px] h-[300px] bg-pink-100/40 rounded-full blur-3xl">
        </div>
        <div class="absolute top-[30%] left-[10%] w-[200px] h-[200px] bg-cyan-100/40 rounded-full blur-2xl"></div>
    </div>
    {% header_base request=request %}
    {% block content %}{% endblock %}
    {% footer_base %}
    {% partial scripts %}
    {% block footer_custom_references %}{% endblock footer_custom_references %}
</body>

</html>